.editorPageWrapper{
    height: 100vh;
    width: 100vw;
    background-size: contain;
    background-color: rgba(39,101,120, 0.9);
}
.logo{
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #424242;
    margin-bottom: 0.5rem;
}
.pageWrapper{
    display: flex;
    justify-content: space-between;
}
.aside{
    width: 16%;
    height: 100vh;
    background-color: #246072;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.editorWrap{
    width: 84%;
    /*max-height: 99vh;*/
}
.asideInner{

}
.clientsList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 70vh;
    /*min-height: 60vh;*/
}

.bottomBtnContainer{
    position: relative;
}

.bottomBtn{
    background-color: white;
    padding: 0.8rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 16px;
    color: rgba(39,101,120, 1);
}

.bottomPart{
    display: none;
}

@media(max-width: 1250px) {
    .aside{
        width: 20%;
    }
    .editorWrap{
        width: 80%;
    }
}

@media(max-width: 1000px) {
    .aside{
        width: 26%;
    }
    .editorWrap{
        width: 74%;
    }
}
@media(max-width: 780px) {
    .aside{
        width: 30%;
    }
    .editorWrap{
        width: 70%;
    }
}
@media(max-width: 650px) {
    .aside{
        width: 40%;
    }
    .editorWrap{
        width: 60%;
    }
}

@media (max-width: 550px) {
    .aside{
        display: none;
        width: 100%;
    }
    .editorWrap{
        width: 100%;
    }
    .display-block{
        display: block;
    }

    .display-none{
        display: none;
    }
    .bottomPart{
        display: block;
    }

}


