*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CodeMirror-scroll{
  min-height: calc(100vh - 10px) !important;
  font-size: 16px;
  line-height: 1.6;
  padding-top: 10px;
  overflow-y: auto;
  /*background-color: red;*/
}

.CodeMirror{
  min-height: calc(100vh) !important;
  font-size: 18px;
  line-height: 1.6;
  padding-top: 10px;
  overflow-y: auto;
  text-align: left;
}

.cm-s-dracula.CodeMirror{
  background-color: rgba(39,101,120, 0.9) !important;
}

.CodeMirror:nth-child(3){
  display: none;
}


.CodeMirror pre {
  display:block;
}
.CodeMirror-lines div{
  display:block;
}

.CodeMirror__wrapper {
  resize: both;
  overflow: auto !important;
}
